<div class="row">
    <div class="col-6">
        <h4>Inpu JSON:</h4>
        <div class="form-group">
            <textarea class="form-control" rows="5" [(ngModel)]="rawJSON" placeholder="JSON String" (keyup)="onKeyUp()"></textarea>
        </div>

        <button class="btn btn-primary float-right" (click)="onConvert()">Convert</button>
    </div>
    <div class="col-6">
        <h4>Output JSON:</h4>
        <ngx-json-viewer *ngIf="isShowViewer" [json]="outputJSON"></ngx-json-viewer>
    </div>
</div>